.note-container {
    padding: 1rem;
    border: 1px solid hsl(341 ,64%, 55%);
    border-radius: 1.5rem;
    margin: 0 auto 1rem;
    max-width: 85%;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    /* background: hsl(210, 31%, 80%); */
}

.note-container:hover {
    background: hsl(210, 31%, 80%);
    box-shadow: 0.5rem 0.5rem 0.5rem hsl(341 ,64%, 55%);
} 

.note-title {
    color: hsl(326, 44%, 18%);
    display: flex;
    justify-content: center;
}

.note-content {
    color: hsl(325, 66%, 25%);
    display: flex;
    justify-content: center;
}

.note-date {
    color: hsl(0, 0%, 0%);
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
}

.delete-button {
    background-color: hsl(325, 66%, 25%); 
    color: hsl(0, 0%, 100%);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.delete-button:hover {
    background-color: hsl(341 ,64%, 55%);
}
